<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img style="width:160px ;height:110px;" src="https://st3.depositphotos.com/1022914/13963/i/600/depositphotos_139637226-stock-photo-close-up-of-waving-flag.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img style="width:160px ;height:110px;" src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2019/07/23/15639107386296.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img style="width:160px ;height:110px;" src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Real_Madrid_C.F._the_Winner_Of_The_Champions_League_in_2018_%281%29.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img style="width:160px ;height:110px;" src="https://i.eurosport.com/2020/11/28/2945759-60471148-2560-1440.jpg?w=1000" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img style="width:160px ;height:110px;" src="https://s.france24.com/media/display/3d980c8c-3ff3-11e9-aad7-005056a964fe/w:1280/p:4x3/football-ligue-champions-real-madrid-elimine-c1-ajax-amsterdam_1.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img style="width:160px ;height:110px;" src="https://as01.epimg.net/futbol/imagenes/2020/08/31/primera/1598895534_865628_1598895678_noticia_normal.jpg" class="img-fluid" alt="">
          <a>
            <div class="mask rgba-white-light" mdbWavesEffect></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.realmadrid.com/en"> RealMadridCF.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
